<!-- table pagination -->

<div class="card border-0">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Search</mat-label>
          <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilter($event)">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-12 p-0 m-0 col-sm-6">
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <div class="card-text border-0 bg-light">
    <!-- <div class="table-actionbar"> -->
    <!-- <div class="search-box">
        <mat-form-field class="example-form-field" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Search</mat-label>
          <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilter($event)">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div> -->
    <!-- <div class="action-box"> -->
    <!-- <button color="warn" mat-mini-fab aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button> -->
    <!-- <button color="primary" mat-mini-fab aria-label="Example icon button with a home icon">
          <mat-icon>refresh</mat-icon>
        </button> -->
    <!-- </div> -->

    <!-- </div> -->

  </div>
  <div class="card-body p-0 m-0" id="table-card" style="">
    <mat-table #table [dataSource]="dataSource" class="" matSort #tableContainer [ngStyle]="{width:dynamicWidth+'px'}" >
      <!-- checkbox header -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let row"  style="width: 20px;">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- avatar Image header -->
      <ng-container matColumnDef="avatar" *ngIf="tableConf.avatarKey && tableConf.showAvatar">
        <mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="width: 20px;">
          <p matListAvatar class="mx-2 me-4"
          [attr.data-letters]="row[tableConf.avatarKey] | slice:0:1"></p>
        </mat-cell>
      </ng-container>
      <!-- table dynamic columns -->
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef" [sticky]="isSticky(column.columnDef)">
      
        <mat-header-cell *cdkHeaderCellDef mat-sort-header class="" [style.width.px]="column.width">{{ column.header }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row" [style.width.px]="column.width"  class="text-capitalizes" matRipple>
          {{ row[column.columnDef] }}
        </mat-cell>
      </ng-container>

      <!-- table action column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let element" action-buttons [value]="element" (buttonAction)="onTableAction($event)">
          {{ element.weight }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="my-2 mx-1 shadow-sm cursor-pointer"
        [class.selectedRow]="clickedRows.has(row)" (click)="selectedRows(row)"
        ></mat-row>
      </mat-table>
      
  </div>
</div>