<div class="card" id="mobileFriendlyLists">
    <div class="card-body">
        <div class="row">
            <ng-container *ngIf="studentDetails.length===0">
                <div class="card text-center">
                    No data to show
                </div>
            </ng-container>
            <ng-container *ngFor="let student of studentDetails;odd as isOdd; even as isEven;">
                <div [attr.value]="student" class="col-12 col-sm-6 col-lg-4 rounded m-0 p-0">
                    <div class="card m-0 p-0 border-0 m-2">
                        <app-list [data]="student" [listConf]="listconfig" (click)="openBottomSheet(student)">
                        </app-list>
                    </div>

                </div>
            </ng-container>
        </div>
    </div>
</div>


