<div class="card"  id="studentGrid">

<ag-grid-angular
  [ngStyle]="_style"
  class="ag-theme-balham"
  [rowData]="rowData"  
  [columnDefs]="columnDefinition"
  [defaultColDef]="defaultColDef"
  (selectionChanged)="onSelectionChanged($event)"
  (gridReady)="onGridReady($event)"
  [rowSelection]="rowSelectionForGrid"
  class="ag-theme-balham"
  (selectionChanged)="onSelectionChanged($event)"
 
  >
</ag-grid-angular>
</div>

<!-- [debounceVerticalScrollbar]="true" -->
<!-- [rowSelection]="rowSelectionForGrid" -->
<!-- [rowHeight]="27"  -->
<!-- [domLayout]="domLayout" -->
