<div class="clay card border-0 bg-transparent  deep-border-curve ">

   <img src="/assets/icons/img/admin.svg" *ngIf="showImage" class="card-img-top mx-auto mt-5 mb-2" height="150" alt="images">

    <form class="form clay card-body bg-white rounded deep-border-curve pb-4" [formGroup]="LoginForm">
        <h4 class="text-muted text-center mat-line">Login</h4>
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Username" value="" formControlName="username">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Username" value="" formControlName="password">
        </mat-form-field>
       
        <!-- <mat-form-field class="w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" formControlName="email">
            <mat-error *ngIf="f.get('email')?.hasError('required') || f.get('email')?.hasError('email')">
                Please enter appropriate email Id
            </mat-error>
        </mat-form-field> -->
        <div class="text-center">
            <button mat-raised-button class="clay bg-purple text-white"
                [disabled]="!LoginForm.valid" (click)="login()">Login</button>
        </div>
    </form>
</div>