.form-control {
  box-shadow: none;
  font-size: 0.8rem;
  margin:0 ;
}
.table {
  height: 200px;
  overflow: auto;
}
thead tr th {
  position: sticky;
  top: 0;
}

:host ::ng-deep {
    font-size: 0.8rem;
    &.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
        background-color: rgb(103 58 183 / 80%)

    }
    &.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
        background-color: var(--bs-primary);
    }
  &.mat-expansion-panel-body {
    height: 15rem;
  }
  &.mat-expansion-panel-header-description{
      flex-grow: 1
  }
}
