<ng-container *ngIf="(loadLayout$|async);else layout">
    <ng-container *ngTemplateOutlet="loader"></ng-container>
    <div class="">Alert</div>
</ng-container>

<ng-template #loader>
    <div style="display: grid;place-items: center;height:100vh">
        <app-loading-comp [showText]="showText" [setText]="'Loading...'"></app-loading-comp>
    </div>
</ng-template>


<ng-template #layout>
    <!-- <div class="loading position-absolute top-50 start-50 translate-middle" *ngIf="showText">Loading</div> -->
    <ng-container *ngIf="loadAuthModules">
        <!-- <div [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div> -->
        <router-outlet></router-outlet>
    </ng-container>


    <app-root-layout *ngIf="!loadAuthModules">


        <div menu fxLayout="column">
            <ng-container *ngTemplateOutlet="sidenavcontent"></ng-container>
        </div>

        <div routeSelected class="d-flex align-items-center">


            <mat-icon>{{selectedMenu?.icon}}</mat-icon>

            <div class="ms-1"> {{selectedMenu?.label}}</div>

        </div>
        <div toolbar fxLayout="row" fxLayoutAlign="space-evenly center">
            <ng-container *ngTemplateOutlet="dynamicDropDown"></ng-container>
        </div>
        <div container>
            <p class="alert p-0 m-0 text-center shadow-sm border-0" [ngClass]="!networkStatus ? 'alert-danger' : 'alert-success'" *ngIf="!networkStatus" role="alert" style="height: 1rem;line-height: 1;">
                You are in {{!networkStatus ? 'offline' : 'online'}} mode
            </p>

            <ng-container *ngIf="showText">
                <div class="position-absolute start-50 top-50 translate-middle">
                    <div *appLoading="showText"></div>
                </div>
            </ng-container>
            <ng-container *ngIf="!showText">

                <router-outlet></router-outlet>
            </ng-container>

        </div>
    </app-root-layout>
</ng-template>




<!-- Sidenavbar content -->
<ng-template #sidenavcontent>
    <div class="d-flex align-items-center flex-column">


        <img class="avatar mat-elevation-z8" class="rounded-circle text-center" width="100" height="100"
            src="https://www.jea.com/cdn/images/avatar/avatar-alt.svg" />

        <h4 class="name">{{username}}</h4>
        <p class="designation">{{role}}</p>
    </div>
    <hr>


    <ng-container *ngFor="let item of menuItems">

        <a class="menu-button text-white text-decoration-none" mat-ripple [routerLink]="item?.url"
            routerLinkActive="active" (click)="loadRouteToStorage(item)">
            <div class="d-flex align-items-center p-1" role="button" mat-button>
                <div>
                    <mat-icon class="mt-1">{{item.icon}}</mat-icon>
                </div>
                <div><span class="ms-2"> {{item.label}}</span></div>

            </div>


        </a>
        <!-- <a mat-button class="menu-button w-100 d-flex justify-content-between" [routerLink]="item?.url"
            routerLinkActive="active" (click)="loadRouteToStorage(item)">
            <mat-icon>{{item.icon}}</mat-icon>
            <span class="ml-2"> {{item.label}}</span>
        </a> -->


    </ng-container>





</ng-template>


<!-- Titleebar left side content (i.e) 3 dot -->

<ng-template #dynamicDropDown>

    <!-- <button mat-button *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet" [routerLink]="item?.url" routerLinkActive="active">
        <mat-icon class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
    </button> -->

    <ng-container>
        <button mat-button [matMenuTriggerFor]="dropMenu" class="d-md-none d-sm-block">
            Menu<mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div class="" [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet"
                    [fxShow.xs]="!item.showOnMobile">
                    <button mat-menu-item [routerLink]="item?.url" routerLinkActive="active"
                        (click)="loadRouteToStorage(item)">
                        <mat-icon class="mr">{{item.icon}}</mat-icon>
                        {{item.label}}
                    </button>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </mat-menu>
    </ng-container>


</ng-template>