.btn-outline-purple {
  color: #673ab7;
  border-color: #673ab7;
}

.btn-outline-purple:hover {
  background-color: #673ab7;
  color: whitesmoke;
}
.sec-nav {
  height: calc(100vh - 8rem);
  overflow: hidden;
  transition: width 0.10s ease-out 0.10s;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 80fr;
  grid-gap: 0.25rem;
}
.active{
    background-color: #673ab7;
  color: whitesmoke;
}