:host ::ng-deep [data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 1.25em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-transform: capitalize;
    text-align: center;
    border-radius: 50%;
    background: #9c27b0;
    vertical-align: middle;
    // margin-right: 1em;
    color: white;
}
.chip {
    background: #3f51b5;
    color: whitesmoke;
    font-size: 0.8rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#mobileFriendlyLists {
    height: calc(100vh - 12rem);
    overflow-y: auto;
}

:host ::ng-deep mat-list-option {
    min-height: 6rem !important;
    height: 7rem !important;
    max-height: 8rem !important;
    justify-content: center;
}

.bg-light-color {
    background-color: #eeeefb;
}
mat-list-option[aria-selected='true'] {
    background: rgb(156 39 176 / 20%)
}
@media only screen and (max-width: 600px) {
    #mobileFriendlyLists {
        height: calc(100vh - 10rem);
        overflow-y: auto;
    }
}
