<div class="card p-2 border-0">
    <div class="card-body shadow-sm">
        <div class="card-title bg-primary py-2 text-center text-white">Student Info</div>
        <div class="row">
            <div class="col-12">
                <app-student-card></app-student-card>
            </div>
            
        </div>
        
    </div>
    <div class="card-body shadow-sm">
        <div class="card-title bg-primary py-2 text-center text-white">Student Discount Sumary Graph</div>

        <app-student-fees-discount-group></app-student-fees-discount-group>

    </div>

    <div class="card-body">

        <div class="card-title bg-primary py-2 text-center text-white">Student Account Monthwise View</div>

        <app-cal></app-cal>


    </div>
</div>