<div class="card p-2">
    <div class="card-body shadow-sm">
        <div class="card-title bg-primary py-2 text-center text-white">Student Info</div>
        <div class="row">
            <div class="col-sm-8 col-12">
                <app-student-card></app-student-card>

            </div>
            <div class="col-12 col-sm-4">

                <app-student-fees-discount-group></app-student-fees-discount-group>
            </div>

        </div>

    </div>

    <div class="card-body">


        <app-cal></app-cal>


    </div>
</div>