<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 my-auto">
                    <img src="/assets/icons/undraw_male_avatar.png" class="img-fluid rounded-start"
                        alt="male students avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Total Male Students Count</h5>
                        <h3>{{maleCount}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 my-auto">
                    <img src="/assets/icons/undraw_female_avatar.png" class="img-fluid rounded-start"
                        alt="male students avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Total Male Students Count</h5>
                        <h3>{{femaleCount}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>