<!-- 
<div class="card d-none d-sm-none d-md-flex">
    <div class="card-body" style="overflow-x: auto;">

        <table mat-table [dataSource]="dataSource">
       

            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef  style="width:75px">Avatar</th>
                <td mat-cell *matCellDef="let column" class="align-bottom">
                    <p [attr.data-letters]="column.studentFirstName | slice:0:1"></p>
                </td>
            </ng-container>
            <ng-container matColumnDef="admissionNo">
                <th mat-header-cell *matHeaderCellDef style="width:50px">No.</th>
                <td mat-cell *matCellDef="let column">{{ column.admissionNo }}</td>
            </ng-container>

            <ng-container matColumnDef="studentFirstName">
                <th mat-header-cell *matHeaderCellDef class="freezeColumn">FirstName</th>
                <td mat-cell *matCellDef="let column" class="freezeColumn">{{ column.studentFirstName }}</td>
            </ng-container>

            <ng-container matColumnDef="studentLastName">
                <th mat-header-cell *matHeaderCellDef>Lastname</th>
                <td mat-cell *matCellDef="let column" class="">{{ column.studentLastName }}</td>
            </ng-container>

            <ng-container matColumnDef="admissionDate">
                <th mat-header-cell *matHeaderCellDef>Admission Date</th>
                <td mat-cell *matCellDef="let column">{{ column.admissionDate | date:'dd-MM-yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="studentClass">
                <th mat-header-cell *matHeaderCellDef>Class</th>
                <td mat-cell *matCellDef="let column">{{ column.studentClass }}</td>
            </ng-container>

            <ng-container matColumnDef="studentCommunity">
                <th mat-header-cell *matHeaderCellDef>Community</th>
                <td mat-cell *matCellDef="let column">{{ column.studentCommunity }}</td>
            </ng-container>



            <ng-container matColumnDef="studentFatherName">
                <th mat-header-cell *matHeaderCellDef>FatherName</th>
                <td mat-cell *matCellDef="let column">
                    {{ column.studentFatherName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="studentMotherName">
                <th mat-header-cell *matHeaderCellDef>MotherName</th>
                <td mat-cell *matCellDef="let column">
                    {{ column.studentMotherName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="studentGender">
                <th mat-header-cell *matHeaderCellDef>Gender</th>
                <td mat-cell *matCellDef="let column">{{ column.studentGender }}</td>
            </ng-container>

            <ng-container matColumnDef="studentDOB">
                <th mat-header-cell *matHeaderCellDef>Student D.O.B</th>
                <td mat-cell *matCellDef="let column">{{ column.studentDOB | date:'dd-MM-yyyy'  }}</td>
            </ng-container>

            <ng-container matColumnDef="studentCaste">
                <th mat-header-cell *matHeaderCellDef>Caste</th>
                <td mat-cell *matCellDef="let column">{{ column.studentCaste }}</td>
            </ng-container>

            <ng-container matColumnDef="studentSubCaste">
                <th mat-header-cell *matHeaderCellDef>Sub Caste</th>
                <td mat-cell *matCellDef="let column">{{ column.studentSubCaste }}</td>
            </ng-container>

            <ng-container matColumnDef="studentReligion">
                <th mat-header-cell *matHeaderCellDef>Religion</th>
                <td mat-cell *matCellDef="let column">{{ column.studentReligion }}</td>
            </ng-container>

            <ng-container matColumnDef="studentNationality">
                <th mat-header-cell *matHeaderCellDef>Nationality</th>
                <td mat-cell *matCellDef="let column">{{ column.studentNationality }}</td>
            </ng-container>


            <ng-container matColumnDef="studentMotherToungue">
                <th mat-header-cell *matHeaderCellDef>MotherToungue</th>
                <td mat-cell *matCellDef="let column">{{ column.studentMotherToungue }}</td>
            </ng-container>

            <ng-container matColumnDef="studentLangaugeKnown">
                <th mat-header-cell *matHeaderCellDef>Known Languages</th>
                <td mat-cell *matCellDef="let column">{{ column.studentLangaugeKnown }}</td>
            </ng-container>

            <ng-container matColumnDef="studentBloodGroup">
                <th mat-header-cell *matHeaderCellDef>Blood Group</th>
                <td mat-cell *matCellDef="let column">{{ column.studentBloodGroup }}</td>
            </ng-container>

            <ng-container matColumnDef="studentAadharNumber">
                <th mat-header-cell *matHeaderCellDef>Aadhar No.</th>
                <td mat-cell *matCellDef="let column">{{ column.studentAadharNumber | mask: '0000-0000-0000'}}</td>
            </ng-container>

            <ng-container matColumnDef="studentEMINo">
                <th mat-header-cell *matHeaderCellDef>EMI No</th>
                <td mat-cell *matCellDef="let column">{{ column.studentEMINo }}</td>
            </ng-container>

            <ng-container matColumnDef="studentPreviousSchool">
                <th mat-header-cell *matHeaderCellDef>Previous School</th>
                <td mat-cell *matCellDef="let column">{{ column.studentPreviousSchool }}</td>
            </ng-container>

            <ng-container matColumnDef="studentDiscount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let column">{{ column.studentDiscount }}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row class="cursor-pointer"  (click)="selectedRows(row)" [class.row-is-selected]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <div class="card-footer">

        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="">
        </mat-paginator>
    </div>
</div> -->


<!-- <app-table></app-table> -->
<div class="card d-none d-sm-none d-md-flex">
<app-mat-custom-table
 (action)="onTableAction($event)"
  [dataset]="data" 
  [tableConfig]="tableConf"
  [colDef]="columns">
</app-mat-custom-table>
</div>