<!-- <nav color="transparent" mat-tab-nav-bar mat-stretch-tabs id="tab-group">
    <a mat-tab-link *ngFor="let link of renderTabMenu" [attr.id]="link.label" (click)="navigate(link)" class="text-lowercase text-capitalize"
     [active]="link | tabPipe : url">
        <mat-icon class="mx-2">{{ link?.icon }}</mat-icon>
        {{ link.label }} 
    </a>
</nav> -->
<nav *ngIf="tabMenu | async">
    <div class="d-flex justify-content-between">
        <div class="my-auto">
            <span mat-line class="ms-2 text-capitalize">Viewing as {{'' | tabPipe : url}} </span>
        </div>
        <div class="ml-auto" id="tabIcons">
            <button mat-raised-button class="align-middle m-1" (click)="navigate(formMenu)">
                <mat-icon class="">add_circle</mat-icon>
                Add New
            </button>
            <button mat-raised-button [matMenuTriggerFor]="menu" class="align-middle m-1">
                <mat-icon class="">view_array</mat-icon>
                View
            </button>

          
        </div>
    </div>
    <!-- <div class="d-flex">
        <div class="w-sm-75"></div>
        <div class="w-md-25 text-end">
          
        </div>
    </div> -->
</nav>

<mat-menu #menu="matMenu">
    <ng-container *ngFor="let link of renderTabMenu">
        <button [class.active]="" mat-menu-item (click)="navigate(link)"
            class="text-capitalize">
            <mat-icon class="me-2">{{ link?.icon }}</mat-icon>
            {{ link.label }}
        </button>
    </ng-container>
</mat-menu>