<!-- <nav color="transparent" mat-tab-nav-bar mat-stretch-tabs id="tab-group">
    <a mat-tab-link *ngFor="let link of renderTabMenu" [attr.id]="link.label" (click)="navigate(link)" class="text-lowercase text-capitalize"
     [active]="link | tabPipe : url">
        <mat-icon class="mx-2">{{ link?.icon }}</mat-icon>
        {{ link.label }} 
    </a>
</nav> -->
<nav *ngIf="tabMenu | async">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
           
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-end">
            <button mat-button [matMenuTriggerFor]="menu">View</button>
            <mat-menu #menu="matMenu">
                <ng-container *ngFor="let link of renderTabMenu">
                    <button [class.active]="link | tabPipe : url" mat-menu-item (click)="navigate(link)"
                        class="text-capitalize">
                        <mat-icon class="me-2">{{ link?.icon }}</mat-icon>
                        {{ link.label }}
                    </button>
                </ng-container>
            </mat-menu>
            <button mat-button (click)="navigate(formMenu)">Add New</button>
        </div>
    </div>
    <!-- <div class="d-flex">
        <div class="w-sm-75"></div>
        <div class="w-md-25 text-end">
          
        </div>
    </div> -->
</nav>