a.mat-tab-link:hover,
a.mat-tab-link:focus,
a.mat-tab-link:active {
  background-color: #8a4ef2;
  color: white;
  opacity: 1;
}

:host ::ng-deep .mat-tab-label-active {
  background-color: #8a4ef2;
  color: white;
  opacity: 1;
}

:host ::ng-deep .mat-tab-link {
  border-bottom: none !important;
}

