<div class="bottom-sheet card border-0 bg-transparent" [ngClass]="!listIcon ? 'small-sheet-height' : ''" style="overflow-y: auto;">


    <div class="card-header w-100 bg-transparent d-flex justify-content-between align-item-center">
        <div>{{label}}</div>
        <div>
            <span *ngIf="listIcon">
                <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon"
                    (click)="toggleList()">
                    <mat-icon>segment</mat-icon>

                </button>
            </span>
            <span>
                <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon"
                    (click)="clearBar(true)">
                    <mat-icon>edit</mat-icon>

                </button>
            </span>
            <!-- <mat-icon *ngIf="!canEdit">file</mat-icon> -->
            <span>
                <button mat-icon-button color="accent" aria-label="" (click)="clearBar(false)">
                    <mat-icon>close</mat-icon>
                </button>
            </span>
        </div>
    </div>
    <div class="card-body w-100 p-0 m-0" *ngIf="!listIcon">
        <ng-container [ngTemplateOutlet]="quickLink" [ngTemplateOutletContext]="{list:renderData}">
        </ng-container>
    </div>

    <div class="card-body h-100 w-100 p-0 m-0" style="overflow-y: auto;" *ngIf="listIcon">


        <ng-container *ngIf="viewType === 'list'">
            <ng-container *ngFor="let list of (renderData|keyvalue)">
                <ng-container [ngTemplateOutlet]="lists" [ngTemplateOutletContext]="{list:list}">
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #lists let-list="list">
    <div class="d-grid" id="lists">

        <div class="fw-bold text-capitalize">{{list?.key | sanitizecamelcaseString: 'student' : true}} </div>
        <div class="border-0 py-1">{{list?.value}}</div>
    </div>
</ng-template>

<ng-template #quickLink let-list="list">

    <app-quick-navigation-menu [name]="name" [admissionNo]="list?.admissionNo"> 
      
        <ng-container *ngIf="!listIcon">
            <div>

                <button class="p-0 m-0 bg-transparent btn-link text-purple border-0" (click)="toggleList()">
                    <mat-icon class="text-purple"  matTooltip="Show lists">subject</mat-icon>
                </button>
            </div>
        </ng-container>

        <ng-container *ngFor="let routes of router">
            <div>
                <a class="btn-link text-purple" [routerLink]="[routes?.url ,'form','edit',list?.admissionNo]"  (click)="clearBar(false)">
                    <mat-icon class="text-purple"  matTooltip="Links {{routes?.label}} forms">{{routes?.icon}}</mat-icon>
                </a>
            </div>
        </ng-container>
    </app-quick-navigation-menu>
</ng-template>