
<ng-select class="" [items]="options$ | async" [formControl]="myControl" bindLabel="admissionNo" bindValue="admissionNo" (focus)="getFreshStudentData($event)">
  
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div
            class="d-flex p-2 justify-content-between align-item-center flex-sm-row flex-md-row flex-lg-row" id="index">
        
            <div class="text-center my-auto">
                <p matListAvatar class="mx-2 me-4" [attr.data-letters]="item ?.studentFirstName | slice:0:1"></p>
            </div>
            <div class="mx-auto ms-1">
                <div>{{item?.studentFirstName}} {{item?.studentLastName}}</div>
                <small class="text-secondary text-start" [ngOptionHighlight]="search"><span class="fw-bold">ADM No. </span>
                    {{item.admissionNo}}</small>
            </div>
            <div class="text-center">
                <small class="badge text-purple">{{item.studentClass}}</small>
        
            </div>
        
        </div>
 
    </ng-template>
 
</ng-select>
